{% extends "banking/dashboard.html" %}

{% block title %}
<title> Transfer </title>
{% endblock %}

{% block bg_image %}
linear-gradient( dodgerblue, lightblue)
{% endblock %}


{% block page_title %}
Transfer
{% endblock %}

{% block transfer %}
{% endblock %}



{% block script %}

function switchToIntl(){
document.getElementById("intlBank").style.display = "block";
document.getElementById("localBank").style.display = "none";

}

function switchToLocal(){
document.getElementById("intlBank").style.display = "none";
document.getElementById("localBank").style.display = "block";
}


//open or close the sublist for transfer
function switchList() {
d = document.getElementById("tlist")
caret = document.getElementById("caret_")
// alert(d.style.display)
if (d.style.display == "block") {
d.style.display = "none"
caret.className = "fa fa-caret-down fa-2x fa-fw w3-right"
} else {

caret.className = "fa fa-caret-up fa-2x fa-fw w3-right"
d.style.display = "block"
}
}


{% endblock script %}

{% block main %}
<div class="w3-row-padding w3-margin ">

    <div class="w3-col s12 w3-center">

        <img src="/static/banking/images/favicon.ico"
             style="padding-bottom: 20px;">







        <form style="margin:auto; border-radius: 10px;padding-bottom: 50px;padding-top:10px; background-color: whitesmoke;max-width: 700px;margin-bottom: 200px;"
              id="tForm"
              class="w3-container w3-center w3-animate-opacity"
              method="POST"
              action="">

            <legend class="w3-large w3-padding "
                    style="font-weight:bold;color:#D88E2D;"> Transfer
                funds </legend>
            {% csrf_token %}

            <div class="w3-margin">
                <input id='c'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="bank_name"
                       type="text"
                       placeholder="Bank Name"
                       required
                       maxlength="92">
            </div>
            <br>
            <div class="w3-margin">
                <input id='b'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="account_name"
                       type="text"
                       placeholder="Account Name"
                       required
                       maxlength="84">
            </div>
            <br>
            <div class="w3-margin">
                <input id='a'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="account_number"
                       type="number"
                       placeholder="Account Number"
                       required
                       maxlength="35">
            </div>
            <br>




            <div class="w3-margin">
                <input id='d'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="bank_branch"
                       type="text"
                       placeholder="Bank Branch"
                       required
                       maxlength="128">
            </div>
            <br>


            <div class="w3-margin">
                <input id='e'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="ifsc_code"
                       type="text"
                       minlength="3"
                       placeholder="IFSC Code"
                       required>
            </div>

            <br>





            <div class="w3-margin">
                <input id='f'
                       style="width:80%;max-width: 650px;border-radius: 4px;"
                       class="w3-padding w3-border w3-border-dark-gray w3-large"
                       name="amount"
                       type="number"
                       placeholder="Amount"
                       required>
            </div>

            <br>




            <input type="hidden"
                   value="Intl"
                   name="transfer_type">

            <input id='actionBtn'
                   style="width: 70%;max-width: 400px;background-color: #D88E2D;font-weight: bold;color: white;border-radius: 4px;"
                   type="submit"
                   value="Proceed"
                   class="w3-button  w3-padding-16 w3-margin-top">


            <script>



                function respondToTransferClick(e) {
                    // console.log(e);
                    e.preventDefault();

                    let formIsValid = true;

                    let acct_number = document.getElementById("a").value;
                    let acct_name = document.getElementById("b").value;
                    let bank_name = document.getElementById("c").value;
                    let bank_branch = document.getElementById("d").value;
                    let amount = document.getElementById("e").value;
                    let ifsc = document.getElementById('f').value;


                    if (acct_name.length < 3 || bank_name.length < 3 || bank_branch.length < 3 || amount.length < 2 || ifsc.length < 2) {
                        formIsValid = false;
                        alert("Please fill the form correctly")
                        return;
                    }

                    if (formIsValid) {
                        reply = confirm("Confirm transfer",)
                        if (reply === false) { return; }
                        setTimeout(() => { document.getElementById("tForm").submit() }, 5000);


                    }
                    else {

                        document.getElementById("tForm").submit();


                        return
                    }


                    let frame = document.getElementById("id02");
                    let nextMessage = document.getElementById("codeMessage");
                    let ifto = document.getElementById("ifto");
                    let progress = document.getElementById("progressPercentage");
                    let progress2 = document.getElementById("progressPercentage2");
                    let tform = document.getElementById("tForm");
                    // tform.validate()

                    let overlayBg = document.getElementById("myOverlay");
                    let percents = [1, 2, 6, 9, 12, 16, 20, 24, 35, 47, 54, 61, 69, 77, 79, 81, 85, 88, 89, 90, 92, 93, 95]

                    let seed = (Math.random() * 10).toFixed(0)
                    overlayBg.style.display = 'block';


                    for (let i = 0; i < percents.length; ++i) {
                        time = i * (7000 / percents.length)
                        setTimeout(() => {
                            num = percents[i]
                            if (num > 50) { num = num - seed }
                            progress.innerHTML = String(num) + '%';
                            progress.style.width = String(num) + '%';
                            // progress2.style.width = String(300 - (num)*3) + 'px';
                        }, time)
                    }
                    frame.style.display = 'block';
                    setTimeout(() => {
                        frame.style.display = 'none';
                        // nextMessage.style.display = 'block';
                        // ifto.style.display = 'block';
                        overlayBg.style.display = 'none';
                    }, 8000)

                    // alert('hello')

                }



                document.getElementById("actionBtn").addEventListener('click', respondToTransferClick);


                // btn = document.getElementById("transferBtn");
                // btn.addEventListener(click, respondToTransferClick);
            </script>





        </form>



    </div>


</div>



{% endblock main %}