{% extends "banking/dashboard.html" %}

{% block title %}
<title> Authenticate Transfer </title>
{% endblock %}

{% block bg_image %}
linear-gradient( dodgerblue, lightblue)
{% endblock %}


{% block page_title %}
Authenticate
{% endblock %}

{% block transfer %}
{% endblock %}



{% block script %}

function switchToIntl(){
document.getElementById("intlBank").style.display = "block";
document.getElementById("localBank").style.display = "none";

}

function switchToLocal(){
document.getElementById("intlBank").style.display = "none";
document.getElementById("localBank").style.display = "block";
}


//open or close the sublist for transfer
function switchList() {
d = document.getElementById("tlist")
caret = document.getElementById("caret_")
// alert(d.style.display)
if (d.style.display == "block") {
d.style.display = "none"
caret.className = "fa fa-caret-down fa-2x fa-fw w3-right"
} else {

caret.className = "fa fa-caret-up fa-2x fa-fw w3-right"
d.style.display = "block"
}
}


{% endblock script %}

{% block main %}
<div class="w3-row-padding w3-margin ">

    <div class="w3-col s12 w3-center">

        <img src="/static/banking/images/favicon.ico" style="padding-bottom: 20px;">

        <form
            style="margin:auto; padding-bottom: 50px;padding-top:10px; max-width: 700px;border-radius: 10px; margin-bottom: 200px;background-color: whitesmoke;"
            id="localBank" class="w3-container w3-center w3-animate-opacity" method="POST"
            action="/verify-with-otp/">
            <legend class=" w3-large w3-padding  " style="font-weight:bold;color:#D88E2D;">
                Authenticate Transfer </legend>
            {% csrf_token %}

            <div class="w3-margin w3-center">
                <input
                    style="text-align: center; width:80%;max-width: 650px;border-radius: 4px;display:block;"
                    class="w3-padding w3-center w3-border w3-border-dark-gray w3-large" name="ifsc_code"
                    type="text" placeholder="IFSC code" required maxlength="25" minlength="4">
            </div>
            <br>
            <small> Chat with the bank agent to retrieve your IFSC code on the chat support </small>
            <br>
            <!-- <small> Didn't see OTP? <a href='{{resend_otp_url}}'> Resend </a></small> -->

            <br>

            <input type="hidden" value="{{reqID}}" name="reqID">

            <input
                style="text-align:center;width:70%;max-width:400px;background-color:#D88E2D;;font-weight: bold;color: white;border-radius: 4px;"
                type="submit" value="Proceed"
                class="w3-button  w3-center w3-padding-16 w3-margin-top">





        </form>








    </div>


</div>



{% endblock main %}
